.index-footer{
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 14;
    color: grey;
    margin-top: -6px;
}

.index-footer p{
    padding-top: 14px;
    margin-bottom: 9px;
}

.btn-demo{
    margin-top:2px;
    box-sizing: border-box;
    width: 120px;
    padding: 8px 6px;
    color: white;
    background-color: black;
}