body{
    width: 100vw;
    overflow-x: hidden;
}

.items-container{
    width: 100vw;
    padding: 0 1%;
    margin-top: -6px;
}

.items-heading{
    height: 44.49px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.items-heading .items-total{
    font-size: 12px;
    color:#757575;
}

.items-cards{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 10px; */
}

.items-card{
    width: 48%;
    /* height: 77%; */
    min-height: 195px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: inherit;
    background-color: white;
    padding: 12px 12px 10px 12px;
    /* padding-bottom: 10px; */
}

.items-card img{
    margin-top: 20px;
    height: 97.6%;
    width: 99.6%;
    object-fit: contain;
}

.item-name{
    padding: 13px 11px 0 11px;
}

.item-price{
    color:#757575;
    font-size: 13px;
    font-weight: 100;
}

.category-banner{
    display: none;
}

.index-footer{
    margin-top: 20px;
}

.image-growth-helper {
    display: block;
    width: 66.5%;
    max-width: 300px;
    height: 0px;
    background-color: transparent;
}

@media (min-width:768px){
    .category-banner{
        display: flex;
        justify-content: center;
    }

    .category-banner img{
        height: 320px;
        width: 1440px;
        object-fit: cover;
        margin-bottom: 38px;
    }

    .items-mens-outerwear{
        border-bottom: 2px solid black;
        padding: 10px 5px 9px 5px;
    }

    .items-heading{
        font-size: 17px;
    }

    .items-heading p{
        margin-bottom: 4.5px;

    }

    .items-cards{
        margin-top: 10px;
        justify-content: flex-start;
        align-items: center;
        /* padding-left: 2%; */
    }

    .items-card{
        position: relative;
        width: 33.3%;
        min-width: 48px;
        height: 32%;
        min-height: 246px;
        max-height: 460px;
        margin-bottom: 14px;
        padding-top: 7px;
        padding-bottom: 0px;
    }

    .items-card img{
        height: 66.5%;
        width: 66.5%;
        max-height: 300px;
        max-width: 300px;
    }

    .item-name{
        margin: 2% 30px 0px 30px;
    }
}

@media (min-width: 1230px) {
    .items-cards{
        gap: 0.5%;
        justify-content: center;
    }

    .items-card{
        width: 32.8%;
    }

    .image-growth-helper {
        height: clamp(0px, calc((100vw - 1230px) / 2.5), 60px);
    }
}

/* @media (min-width:1230px){
    .item-name {
        margin-top: 5%;
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
    }

    .item-name::before {
        content: '';
        display: block;
        width: 50%;
        height: calc(5px + (100vw - 1230px) / 100);
        height: clamp(5px, 0.5vw, 60px); Responsive height 
        background-color: transparent;
    }
} */