body{
    width: 100vw;
    overflow-x: hidden;
}

.home-main{
    margin-top: -6px;
}

.product-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-card a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 354.36px;
    margin-bottom: 2rem;
    font-size: 16px;
}

.product-card>a>p{
    /* scale: 1.05; */
    font-family: sans-serif;
    font-size: 16.5px;
    font-weight: 250;
    margin-top: 2px;
    margin-left: 0.3px;
    letter-spacing: 0.2px;
}   

.product-card img{
    height: 240px;
    object-fit: cover;
}



.card2,.card3{
    margin-top: 8px;
}

.card2>a>p{
    margin-top: 5px;
    font-family: sans-serif;
}

.card2>a>button{
    /* height: 50px; */
    margin-top: 4px;
}

.card3>div>a{
    height: 350.44px;
}

.card3>div>a>p{
    margin-top: -2px;
}

.btn-shop{
    font-family: sans-serif;
    border: 2px solid black;
    font-size: 13.9px;
    font-weight: 400;
    padding: 8px 45px;
    background-color: white;
}

.tshirt-cards{
    display: flex;
    max-width: 1440px;
}

.tshirt-cards .product-card a p{
    font-size: 13.7px;
}

.tshirt-cards .btn-shop{
    padding: 8px 25px;
}

@media (min-width:768px){
    .home-main{
        margin: 0;
    }



    .product-card a{
        height: 450.36px;
        margin-bottom: 32px;
    }

    .card3>div>a{
        height: 444px;
    }



    

    .product-card a img{
        height: 320px;
        width: 1440px;
        object-fit: cover;
    }

    .tshirt-cards .btn-shop{
        width: 169px;
    }
}